<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Shared AR</title>

  <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
  <script src="https://ar-js-org.github.io/AR.js/aframe/build/aframe-ar.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <link rel="stylesheet" href="/templates/style.css" />
</head>

<body>

<div id="map-resizer"></div>

<a-scene
  embedded
  shadow="type: pcfsoft"
  arjs="gpsMinDistance:25; gpsTimeInterval:10000;"
  vr-mode-ui="enabled:false">


  <a-camera gps-camera rotation-reader shadow="receive: true"></a-camera>
  <a-light type="ambient" intensity="0.5"></a-light>

  <a-light
    type="directional"
    intensity="1.0"
    position="2 4 1"
    castShadow="true">
  </a-light>


</a-scene>


<div id="map"></div>

<div id="controls">
  <button id="cubeBtn">📦 Cube</button>
  <button id="imageBtn">🖼 Image</button>
</div>

<input type="file" id="imageInput" accept="image/*" hidden />

<script src="/templates/script.js"></script>
<!-- Make planes face the camera -->
<script src="https://unpkg.com/aframe-look-at-component@0.8.0/dist/aframe-look-at-component.min.js"></script>

</body>
</html>
