body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#placeBtn {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 30;
  padding: 12px 18px;
  font-size: 16px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

#map {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 300px;
  height: 300px;   /* MUST EXIST */
  z-index: 25;
  border: 2px solid black;
  background: white;
}

a-scene {
  z-index: 1;
}
