body {
  margin: 0;
  overflow: hidden;
  font-family: system-ui, sans-serif;
}

a-scene {
  position: fixed;
  inset: 0;
  z-index: 1;
}

/* MAP */
#map {
  position: fixed;
  bottom: 100px;
  right: 10px;
  width: 50vw;
  height: 50vw;
  max-width: 240px;
  max-height: 240px;
  border-radius: 12px;
  z-index: 20;
  border: 2px solid #000;
  background: white;
}

/* CONTROLS */
#controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90px;
  background: rgba(0,0,0,0.85);
  display: flex;
  z-index: 9999;
}

#controls button {
  flex: 1;
  margin: 10px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: #fff;
  font-weight: 600;
}

#controls button:active {
  transform: scale(0.96);
}
